*{
  margin: 0;
  padding: 0;
  border: 0;
}
body{
  background-color: rgb(52, 143, 174);
}
header{
  background-color: rgb(0,0,0);
  color:#FFF;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
header img{
  width: 100px;
  border-radius: 100%; 
  border: 5px solid #0d50a3
}
header nav ul{ 
    list-style:nome;
    text-transform: uppercase;
}

header nav ul li {
  display: inline-block;
  padding: 30px 15px;
}
header ul li:hover {
  background-color: #FFF;
  color: #000;
  padding: 20px 25px;
  transition: .7s;
  cursor: pointer;
}
main h1{
  padding:  25px 0;
  text-align: center;
  font-family:'Croissant One', arial;
}

.informacoes .fotocasal{
  width: 30%;
  border-radius: 30px;
  box-shadow: 10px 10px 20px black;
  max-height: 80vw;
}
.informacoes p{
  padding: 25px;
  display: flex;
  text-align: justify;
}
.informacoes{
  display: flex;
}
footer{
  background-color: rgb(9, 105, 105);
  color: azure;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 25px;
  text-align: center;
}

footer h3 {
  text-transform: uppercase;
}
footer ul li{
margin-top: 5px;
}
.links_sociais{
  footer ul li {
    display: : flex;
    margin-top: 25px;
  }
  .links_sociais img {
    width: 50px;
  }
.links_sociais li{
  list-style: none;
  padding: 0 25px;
}

